@import 'src/utils/variables';

.details {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  &__pair {
    flex-shrink: 1;
    display: flex;
    gap: 4px;
    flex-direction: column;

    &__label {
      color: $text-color;
    }

    &__value {
      color: $small-faded-text-color;
    }
  }
}
