{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "printWidth": 80,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "object-curly-spacing": ["error", "always"]
}
