@import 'src/utils/mixins.scss';
@import 'src/utils/variables';

.template {
  display: grid;
  padding-inline: $columns-gap;
  justify-content: space-around;
  grid-column-gap: $columns-gap;

  @include onTablet {
    grid-template-columns: repeat($tablet-columns-quantity, 1fr);
    padding-inline: 24px;
  }

  @include onDesktop {
    margin: 0 auto;
    padding-inline: 0;
    grid-template-columns: repeat(
      $desktop-columns-quantity,
      $desktop-columns-width
    );
  }
}
