@import 'src/utils/mixins.scss';
@import 'src/utils/variables';

%base-grid {
  display: grid;
  grid-column-gap: $columns-gap;
}

.template_three {
  @extend %base-grid;
  grid-template-columns: repeat($columns-quantity-small, minmax(50px, 33%));
}

.template_five {
  @extend %base-grid;
  grid-template-columns: repeat($columns-quantity-big, minmax(50px, 33%));
}
