$tablet-columns-quantity: 2;
$desktop-columns-quantity: 3;
$desktop-columns-width: 32px;
$columns-gap: 16px;
$mobile-padding-inline: 12px;
$tablet-padding-inline: 16px;
$desktop-padding-inline: 20px;

$effect-duration: 0.3s;

$accent-weight: 700;
$semi-accent-weight: 600;
$regular-weight: 500;
$background-color: #fff;
$button-primary-background-color: #111;
$button-primary-text-color: #fff;
$faded-text-color: #d1d1d1;
$form-input-radio-button-border-color: #d1d1d1;
$form-input-radio-button-checked-border-color: #007fff;
$form-input-radio-button-checked-dot-color: #007fff;
$link-text-color-hover: #111;
$link-text-color: #767676;
$placeholder-background-color: #0000000d;
$small-faded-text-color: #767676;
$text-color: #111;
